[submodule "src/packages/tests/libs/bats"]
	path = src/packages/tests/libs/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "src/packages/tests/libs/bats-support"]
	path = src/packages/tests/libs/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "src/packages/tests/libs/bats-assert"]
	path = src/packages/tests/libs/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "src/packages/tests/libs/bats-file"]
	path = src/packages/tests/libs/bats-file
	url = https://github.com/bats-core/bats-file.git
